<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('NewBee商城-个人中心','personal')">
</head>
<link th:href="@{/mall/css/bootstrap-modal.css}" rel="stylesheet">
<body>
<header th:replace="mall/header::header-fragment"></header>
<!-- nav -->
<nav th:replace="mall/header::nav-fragment"></nav>

<!-- personal -->
<div id="personal">
    <div class="self-info center">

        <!-- sidebar -->
        <div th:replace="mall/personal-sidebar::sidebar-fragment"></div>

        <div class="intro fr">
            <div class="grzlbt ml40">填写店铺信息
            </div>
            <table class="table">
                <form method="post" action="/shopRegisterVerify" id="shopForm" enctype="multipart/form-data" >
                    <tr>
                        <td>店铺名</td>
                        <td><input type="text"  name="shopName" id="shopName"
                                   placeholder="请输入你的店铺名"></td>
                    </tr>
                    <tr>
                        <td>店铺介绍</td>
                        <td><textarea type="text"  name="shopIntro" id="shopIntro"
                                      placeholder="请输入你的店铺介绍" th:width="200" th:height="1000"></textarea></td>
                    </tr>
                    <tr>
                        <td>店铺分类</td>
                        <td><input type="text" id="shopCategory" name="shopCategory" placeholder="请输入店铺分类"></td>
                    </tr>
                    <tr>
                        <td>上传店铺图片</td>
                        <td>
                            <input type="file" name="file" id="shopImage" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button id="saveButton" type="button" onclick="register()" class="btn btn-default">提交</button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

</div>
<script>

</script>
<script>
    function register() {
        var shopName = $("#shopName").val();
        if (shopName.trim().length = 0 ) {
            swal("请输入正确的店铺名", {
                icon: "error",
            });
            return;
        }
        var shopIntro = $("#shopIntro").val();
        if (shopIntro.trim().length < 10) {
            swal("请输入大于10字的店铺介绍", {
                icon: "error",
            });
            return;
        }
        var shopCategory =$("#shopCategory").val();
        if (shopCategory.trim().length = 0) {
            swal("不要为空", {
                icon: "error",
            });
            return;
        }
        var shopImage = $("#shopImage").val();
        if (shopImage ==null){
            swal("请上传图片",{
                icon:"error",
            })
        }
        var form = document.getElementById("shopForm")
        form.submit()
    }
</script>
<!--关于用户提交的页面-->

<div th:replace="mall/footer::footer-fragment"></div>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 3 -->
<script th:src="@{/mall/js/bootstrap3.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>

</body>
</html>