<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('NewBee商城-搜索','search')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<!-- nav -->
<nav th:replace="mall/header::nav-fragment"></nav>


<div style="color: red;font-size: 30px">
    <h2>您的店铺：</h2>
</div>
<hr>
<div class="shops_item center">
    <div class="main center">
        <th:block th:each="shop : ${shops}">
            <div class="item_card_frame">
                <div class="item_card"><a th:href="@{/seller/goods(shopId=${shop.shopId})}" target="_blank">
                    <img th:src="@{${shop.shopImage}}" th:alt="${shop.shopName}"></a></div>
                <div class="item_brand"><a th:href="@{/seller/goods(shopId=${shop.shopId})}" target="_blank"
                                           th:text="${shop.shopName}">newbee.ltd</a></div>
                <div class="item_sub_intro" th:text="${shop.shopIntro}">newbee.ltd</div>
            </div>
        </th:block>
        <div class="clear"></div>
    </div>
</div>


<div th:replace="mall/footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
</body>
</html>
