<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apple.mall.dao.MallUserApplyMapper">
    <resultMap id="BaseResultMap" type="com.apple.mall.entity.MallUserApply">
        <result column="apply_user_id" jdbcType="BIGINT" property="applyUserId"/>
        <result column="apply_flag" jdbcType="TINYINT" property="applyFlag"/>
        <result column="apply_reason" jdbcType="VARCHAR" property="applyReason"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="apply_is_deleted" jdbcType="TINYINT" property="applyIsDeleted"/>

    </resultMap>
    <sql id="Base_Column_List">
    user_id, nick_name, login_name, password_md5, introduce_sign, address, is_deleted,
    locked_flag, right_flag, create_time
    </sql>

    <update id="modifyUserApplyBatch">
        update user_apply
        set apply_flag=#{applyStatus} where apply_user_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>