<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apple.mall.dao.ShopMapper">

    <resultMap id="BaseResultMap" type="com.apple.mall.entity.Shop">
        <result column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="shop_owner" jdbcType="VARCHAR" property="shopOwner" />
        <result column="shop_category" jdbcType="VARCHAR" property="shopCategory" />
        <result column="shop_creattime" jdbcType="TIMESTAMP" property="shopCreatTime" />
        <result column="shop_image" jdbcType="VARCHAR" property="shopImage" />
        <result column="shop_intro" jdbcType="VARCHAR" property="shopIntro" />
        <result column="seller_id" jdbcType="BIGINT" property="sellerId" />
        <result column="shop_flag" jdbcType="TINYINT" property="shopFlag"/>
        <result column="locked_flag" jdbcType="TINYINT" property="lockedFlag"/>
    </resultMap>

    <select id="findshop" resultMap="BaseResultMap">
        select * from shops_info
        where locked_flag=0 and (shop_name like CONCAT('%',#{keyword},'%') or shop_intro like CONCAT('%',#{keyword},'%') or shop_category like CONCAT('%',#{keyword},'%'))
    </select>

    <select id="shop" resultMap="BaseResultMap">
        select * from shops_info
        where shop_id=#{id jdbcType=INTEGER}
    </select>

    <select id="findShopByName" resultMap="BaseResultMap">
        select * from shops_info
        where shop_name=#{shopName jdbcType=VARCHAR}
    </select>

    <select id="FindAllShopsWithSellerId" resultMap="BaseResultMap">
        select * from shops_info
        where seller_id=#{sellerId jdbcType=BIGINT}
    </select>
    <insert id="insertShop" parameterType="com.apple.mall.entity.Shop">
        insert into shops_info(
        shop_name,shop_owner,shop_category,shop_creattime,shop_image,shop_intro,seller_id
        )
        value (
        #{shopName},#{shopOwner},#{shopCategory},#{shopCreatTime},#{shopImage},#{shopIntro},#{sellerId}
        )
    </insert>

    <select id="findShopList" resultMap="BaseResultMap">
        select *
        from shops_info
        order by shop_creattime desc
    </select>

    <select id="getTotalShops"  resultType="int">
        select count(*) from shops_info
        where 1=1
        <if test="shopId!=null ">
            and shop_id = #{shopId}
        </if>
    </select>

    <update id="lockShopBatch">
        update shops_info
        set locked_flag=#{lockStatus} where shop_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="modifyShopApplyBatch">
        update shops_info
        set shop_flag=#{applyStatus} where shop_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>